# 1. Loading The Data

In [16]:
import numpy as np
import pandas as pds

h2015_data=pds.read_csv("../../data/raw/2015.csv")
h2016_data=pds.read_csv("../../data/raw/2016.csv")
h2017_data=pds.read_csv("../../data/raw/2017.csv")
h2018_data=pds.read_csv("../../data/raw/2018.csv")
h2019_data=pds.read_csv("../../data/raw/2019.csv")
hap_files=[h2015_data,h2016_data,h2017_data,h2018_data,h2019_data]
for thing in hap_files:
    #thing.rename(columns={str(thing.columns[0]):"country"})
    print(thing.count()[0])
    print(thing.columns)
    
print(h2015_data)
print(h2019_data)


#Health Indicators
alco=pds.read_csv("../../data/raw/Alcohol_consumption_2015-2019.csv")
homi=pds.read_csv("../../data/raw/homicide_2015-2019.csv")
road=pds.read_csv("../../data/raw/road_traffic_incidence_2015-2019.csv")
smoke=pds.read_csv("../../data/raw/smoking_2015-2018.csv")
suic=pds.read_csv("../../data/raw/suicide_rates_2015-2019.csv")
#covid response
#number of deaths, vaccination rate

#h2021_data=pds.read_csv("../../data/raw/world-happiness-report-2021.csv")
#print(h2019_data[["Country or region","Score","Healthy life expectancy"]])

158
Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')
157
Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')
155
Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')
156
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
156
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual
0       0.29678            2.51738
1       0.43630            2.70201
2       0.34139            2.49204
3       0.34699            2.46531
4       0.45811            2.45176
..          ...                ...
153     0.22628            0.67042
154     0.18260            1.63328
155     0.47179            0.32858
156     0.19727            1.83302
157     0.16681            1.56726

[158 rows x 12 columns]
     Overall rank         Country or region  Score  GDP per capita  \
0               1                   Finland  7.769           1.340
1               2                   Denmark  7.600           1.383
2               3                    Norway  7.554           1.488
3               4                   Iceland  7.494           1.380
4               5               Netherlands  7.488           1.396
..            ...                       ...    ...             ...
151           152                    Rwanda  3.334           0.359
152           153                  Tanzania  3.231           0.476
153           154               Afghanistan  3.203           0.350
154           155  Central African Republic  3.083           0.026
155           156               South Sudan  2.853           0.306

     Social support  Healthy life expectancy  Freedom to make life choices  \
0             1.587                    0.986                         0.596
1             1.573                    0.996                         0.592
2             1.582                    1.028                         0.603
3             1.624                    1.026                         0.591
4             1.522                    0.999                         0.557
..              ...                      ...                           ...
151           0.711                    0.614                         0.555
152           0.885                    0.499                         0.417
153           0.517                    0.361                         0.000
154           0.000                    0.105                         0.225
155           0.575                    0.295                         0.010

     Generosity  Perceptions of corruption
0         0.153                      0.393
1         0.252                      0.410
2         0.271                      0.341
3         0.354                      0.118
4         0.322                      0.298
..          ...                        ...
151       0.217                      0.411
152       0.276                      0.147
153       0.158                      0.025
154       0.235                      0.035
155       0.202                      0.091

[156 rows x 9 columns]

# 2. Clean Data

In [82]:
clean_2015=h2015_data[["Country","Happiness Score","Health (Life Expectancy)"]]
clean_2016=h2016_data[["Country","Happiness Score","Health (Life Expectancy)"]]
clean_2017=h2017_data[["Country","Happiness.Score","Health..Life.Expectancy."]]
clean_2018=h2018_data[["Country or region","Score","Healthy life expectancy"]]
clean_2019=h2019_data[["Country or region","Score","Healthy life expectancy"]]

clean_list=[clean_2015,clean_2016,clean_2017,clean_2018,clean_2019]

matrix = np.empty(shape=clean_2017.shape,dtype='object')
#print(matrix)
countries = list(clean_2017.iloc[:, 0])
print(sorted(countries))
#clean_2015.sort_values(by=sorted(clean_2015["Country"]))
print(clean_2015)

#want only countries from 2017
#get the country and happiness index for that country
#(df['Exp'] == 'ctr') 

#for place in countries[]

#print(len(countries))
      
#for clean in clean_list:
     # print(clean)

['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Haiti', 'Honduras', 'Hong Kong S.A.R., China', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Cyprus', 'Norway', 'Pakistan', 'Palestinian Territories', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Sweden', 'Switzerland', 'Syria', 'Taiwan Province of China', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']
         Country  Happiness Score  Health (Life Expectancy)
0    Switzerland            7.587                   0.94143
1        Iceland            7.561                   0.94784
2        Denmark            7.527                   0.87464
3         Norway            7.522                   0.88521
4         Canada            7.427                   0.90563
..           ...              ...                       ...
153       Rwanda            3.465                   0.42864
154        Benin            3.340                   0.31910
155        Syria            3.006                   0.72193
156      Burundi            2.905                   0.22396
157         Togo            2.839                   0.28443

[158 rows x 3 columns]

melt

1. rename - dataFrame.rename, change all the columns to the same name
2. append - make one master dataframe
3. melt - melt the data together

## Renaming Columns

In [43]:
clean_2015=h2015_data[["Country","Happiness Score","Health (Life Expectancy)"]]
clean_2015=clean_2015.rename(columns={"Country": "country", "Happiness Score": "2015", "Health (Life Expectancy)": "life 2015"})

clean_2016=h2016_data[["Country","Happiness Score","Health (Life Expectancy)"]]
clean_2016=clean_2016.rename(columns={"Country": "country", "Happiness Score": "2016", "Health (Life Expectancy)": "life 2016"})

clean_2017=h2017_data[["Country","Happiness.Score","Health..Life.Expectancy."]]
clean_2017=clean_2017.rename(columns={"Country": "country", "Happiness.Score": "2017", "Health..Life.Expectancy.": "life 2017"})

clean_2018=h2018_data[["Country or region","Score","Healthy life expectancy"]]
clean_2018=clean_2018.rename(columns={"Country or region": "country", "Score": "2018", "Healthy life expectancy": "life 2018"})

clean_2019=h2019_data[["Country or region","Score","Healthy life expectancy"]]
clean_2019=clean_2019.rename(columns={"Country or region": "country", "Score": "2019", "Healthy life expectancy": "life 2019"})

## Append to make one large DataFrame

In [44]:
master_data=clean_2015.append([clean_2016,clean_2017,clean_2018,clean_2019])
print(master_data)

                      country   2015  life 2015  2016  life 2016  2017  \
0                 Switzerland  7.587    0.94143   NaN        NaN   NaN
1                     Iceland  7.561    0.94784   NaN        NaN   NaN
2                     Denmark  7.527    0.87464   NaN        NaN   NaN
3                      Norway  7.522    0.88521   NaN        NaN   NaN
4                      Canada  7.427    0.90563   NaN        NaN   NaN
..                        ...    ...        ...   ...        ...   ...
151                    Rwanda    NaN        NaN   NaN        NaN   NaN
152                  Tanzania    NaN        NaN   NaN        NaN   NaN
153               Afghanistan    NaN        NaN   NaN        NaN   NaN
154  Central African Republic    NaN        NaN   NaN        NaN   NaN
155               South Sudan    NaN        NaN   NaN        NaN   NaN

     life 2017  2018  life 2018   2019  life 2019
0          NaN   NaN        NaN    NaN        NaN
1          NaN   NaN        NaN    NaN        NaN
2          NaN   NaN        NaN    NaN        NaN
3          NaN   NaN        NaN    NaN        NaN
4          NaN   NaN        NaN    NaN        NaN
..         ...   ...        ...    ...        ...
151        NaN   NaN        NaN  3.334      0.614
152        NaN   NaN        NaN  3.231      0.499
153        NaN   NaN        NaN  3.203      0.361
154        NaN   NaN        NaN  3.083      0.105
155        NaN   NaN        NaN  2.853      0.295

[782 rows x 11 columns]

In [72]:
just_scores=pds.melt(master_data, id_vars=['country'], value_vars=['2015', '2016','2017', '2018','2019'])

In [73]:
just_scores=just_scores.rename(columns={"variable":"period","value":"h_index"})
just_scores

                       country period  h_index
0                  Switzerland   2015    7.587
1                      Iceland   2015    7.561
2                      Denmark   2015    7.527
3                       Norway   2015    7.522
4                       Canada   2015    7.427
...                        ...    ...      ...
3905                    Rwanda   2019    3.334
3906                  Tanzania   2019    3.231
3907               Afghanistan   2019    3.203
3908  Central African Republic   2019    3.083
3909               South Sudan   2019    2.853

[3910 rows x 3 columns]

In [84]:
suic

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,0.00,NaN,0.00,0 [0 – 0],NaN,NaN,EN,2021-02-09T08:00:00.000Z
1,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AMR,Americas,Country,BRB,Barbados,Year,2019,...,NaN,NaN,0.22,NaN,0.45,0.32 [0.22 – 0.45],NaN,NaN,EN,2021-02-09T08:00:00.000Z
2,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,0.27,NaN,0.56,0.39 [0.27 – 0.56],NaN,NaN,EN,2021-02-09T08:00:00.000Z
3,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AMR,Americas,Country,GRD,Grenada,Year,2019,...,NaN,NaN,0.45,NaN,0.75,0.59 [0.45 – 0.75],NaN,NaN,EN,2021-02-09T08:00:00.000Z
4,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AMR,Americas,Country,VCT,Saint Vincent and the Grenadines,Year,2019,...,NaN,NaN,0.37,NaN,0.88,0.6 [0.37 – 0.88],NaN,NaN,EN,2021-02-09T08:00:00.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2740,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,EUR,Europe,Country,KGZ,Kyrgyzstan,Year,2015,...,NaN,NaN,8.22,NaN,11.76,9.89 [8.22 – 11.76],NaN,NaN,EN,2021-02-09T08:00:00.000Z
2741,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,EUR,Europe,Country,HUN,Hungary,Year,2015,...,NaN,NaN,8.28,NaN,11.67,9.9 [8.28 – 11.67],NaN,NaN,EN,2021-02-09T08:00:00.000Z
2742,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AFR,Africa,Country,ZAF,South Africa,Year,2015,...,NaN,NaN,4.69,NaN,17.09,9.92 [4.69 – 17.09],NaN,NaN,EN,2021-02-09T08:00:00.000Z
2743,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AMR,Americas,Country,CHL,Chile,Year,2015,...,NaN,NaN,8.60,NaN,15.78,9.97 [8.6 – 15.78],NaN,NaN,EN,2021-02-09T08:00:00.000Z
2744,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AFR,Africa,Country,LSO,Lesotho,Year,2015,...,NaN,NaN,35.49,NaN,172.80,92.4 [35.49 – 172.8],NaN,NaN,EN,2021-02-09T08:00:00.000Z

In [96]:
clean_alco=alco[['Location','Period','Value']]
clean_homi=homi[['Location','Period','Value']]
clean_road=road[['Location','Period','Value']]
clean_suic=suic[['Location','Period','Value']]

clean_alco=clean_alco.rename(columns={"Location":"country","Period":"period","Value":"alco_con"})
clean_homi=clean_homi.rename(columns={"Location":"country","Period":"period","Value":"homi_rate"})
clean_road=clean_road.rename(columns={"Location":"country","Period":"period","Value":"road_acc"})
clean_suic=clean_suic.rename(columns={"Location":"country","Period":"period","Value":"suic_rate"})

list(clean_suic.columns)

['country', 'period', 'suic_rate']

In [53]:
def keep_or_discard(x):
    """Decides whether to keep or discard a piece os fruit.

    Takes in a Pandas row, and returns either 'keep' or 'discard' depending on 
    the criteria.
    """
    
    if (x['period'] > 2014):
        return 'keep'
    else:
        return 'discard'

In [101]:
indicators=[clean_alco,clean_homi,clean_road,clean_suic]

for thing in indicators:
    thing['status'] = thing.apply(keep_or_discard,axis='columns')
    thing=thing[thing['status'] =='keep']

    thing=thing[list(thing.columns)[0:3]]
    print(thing)

                       country  period          alco_con
0                  Afghanistan    2019       0 [0 – 0.1]
1                  Afghanistan    2019       0 [0 – 0.1]
2                        Egypt    2019       0 [0 – 0.1]
3         Syrian Arab Republic    2019       0 [0 – 0.1]
4                        Yemen    2019       0 [0 – 0.1]
...                        ...     ...               ...
1123     Saint Kitts and Nevis    2015  9.7 [7.3 – 12.3]
1124                   Nigeria    2015  9.7 [7.5 – 11.7]
1125                  Cameroon    2015  9.7 [7.9 – 11.6]
1126  United States of America    2015  9.8 [8.6 – 11.3]
1127                     Japan    2015  9.9 [8.3 – 11.5]

[1128 rows x 3 columns]
                               country  period              homi_rate
0                                Japan    2019      0.18 [0.16 – 0.2]
1                 United Arab Emirates    2019    0.21 [0.088 – 0.42]
2                                Japan    2019     0.21 [0.19 – 0.23]
3                            Singapore    2019     0.22 [0.17 – 0.29]
4                                Japan    2019     0.24 [0.22 – 0.26]
...                                ...     ...                    ...
2740                             Kenya    2015     9.9 [7.44 – 12.81]
2741                             Benin    2015    9.91 [4.79 – 17.63]
2742  Lao People's Democratic Republic    2015    9.93 [4.54 – 17.75]
2743                           Nigeria    2015    9.95 [6.33 – 15.04]
2744                          Honduras    2015  97.02 [81.07 – 117.9]

[2745 rows x 3 columns]
                              country  period               road_acc
0                 Antigua and Barbuda    2019              0 [0 – 0]
1    Micronesia (Federated States of)    2019    0.18 [0.082 – 0.29]
2                                Cuba    2019  1,007 [718.2 – 1,352]
3                    Papua New Guinea    2019  1,105 [946.2 – 1,256]
4                           Nicaragua    2019  1,109 [985.3 – 1,232]
..                                ...     ...                    ...
910                      Turkmenistan    2015        910 [848 – 972]
911                              Fiji    2015     93 [60.72 – 135.9]
912                           Belarus    2015  950.1 [761.7 – 1,184]
913                            Greece    2015    988 [847.5 – 1,146]
914                        Azerbaijan    2015    995 [634.3 – 1,533]

[915 rows x 3 columns]
                               country  period             suic_rate
0                  Antigua and Barbuda    2019             0 [0 – 0]
1                             Barbados    2019    0.32 [0.22 – 0.45]
2                  Antigua and Barbuda    2019    0.39 [0.27 – 0.56]
3                              Grenada    2019    0.59 [0.45 – 0.75]
4     Saint Vincent and the Grenadines    2019     0.6 [0.37 – 0.88]
...                                ...     ...                   ...
2740                        Kyrgyzstan    2015   9.89 [8.22 – 11.76]
2741                           Hungary    2015    9.9 [8.28 – 11.67]
2742                      South Africa    2015   9.92 [4.69 – 17.09]
2743                             Chile    2015    9.97 [8.6 – 15.78]
2744                           Lesotho    2015  92.4 [35.49 – 172.8]

[2745 rows x 3 columns]

In [102]:
current=just_scores.append(indicators)
current

,country,period,h_index,alco_con,status,homi_rate,road_acc,suic_rate
0,Switzerland,2015,7.587,NaN,NaN,NaN,NaN,NaN
1,Iceland,2015,7.561,NaN,NaN,NaN,NaN,NaN
2,Denmark,2015,7.527,NaN,NaN,NaN,NaN,NaN
3,Norway,2015,7.522,NaN,NaN,NaN,NaN,NaN
4,Canada,2015,7.427,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2740,Kyrgyzstan,2015,NaN,NaN,keep,NaN,NaN,9.89 [8.22 – 11.76]
2741,Hungary,2015,NaN,NaN,keep,NaN,NaN,9.9 [8.28 – 11.67]
2742,South Africa,2015,NaN,NaN,keep,NaN,NaN,9.92 [4.69 – 17.09]
2743,Chile,2015,NaN,NaN,keep,NaN,NaN,9.97 [8.6 – 15.78]
2744,Lesotho,2015,NaN,NaN,keep,NaN,NaN,92.4 [35.49 – 172.8]